In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [ ]:
movies = movies.merge(credits, on='title', how='inner')
movies.shape

(4809, 23)

In [ ]:
movies = movies[['movie_id', 'title', 'keywords', 'overview', 'genres', 'cast', 'crew']]

In [ ]:
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
movies.head()

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies.tail()

,movie_id,title,keywords,overview,genres,cast,crew
4804,9367,El Mariachi,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,[],A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...,[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [ ]:
import ast

def getgenres(object):
    L = []
    for i in ast.literal_eval(object):
        L.append(i['name'])
    return L

In [ ]:
movies.describe()

            movie_id
count    4809.000000
mean    57120.571429
std     88653.369849
min         5.000000
25%      9012.000000
50%     14624.000000
75%     58595.000000
max    459488.000000

In [ ]:
movies.shape

(4809, 7)

In [ ]:
movies['genres'] = movies['genres'].apply(getgenres)

In [ ]:
movies['genres'][0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [ ]:
def getkeywords(object):
    L = []
    for i in ast.literal_eval(object):
        L.append(i['name'])
    return L

In [ ]:
movies['keywords'] = movies['keywords'].apply(getkeywords)

In [ ]:
movies['keywords'][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [ ]:
def getcast(object):
    L = []
    counter = 0
    for i in ast.literal_eval(object):
        if counter == 3:
            break
        L.append(i['name'])
        counter += 1
    return L

In [ ]:
movies['cast'] = movies['cast'].apply(getcast)

In [ ]:
movies['cast'][0]

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [ ]:
def getdirector(object):
    L = []
    for i in ast.literal_eval(object):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [ ]:
movies['crew'] = movies['crew'].apply(getdirector)

In [ ]:
movies['crew'][0]

['James Cameron']

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x : str(x).split())

In [ ]:
movies['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(' ', '') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(' ', '') for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(' ', '') for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(' ', '') for i in x])

In [ ]:
movies.head(1)

,movie_id,title,keywords,overview,genres,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [ ]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
movies['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [ ]:
new_movies = movies[['movie_id', 'title', 'tags']]

In [ ]:
new_movies.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [ ]:
new_movies['tags'] = new_movies['tags'].apply(lambda x : str(x).lower())

C:\Users\sg\AppData\Local\Temp\ipykernel_5576\2092922764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x : str(x).lower())

In [ ]:
new_movies['tags'][0]

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'action', 'adventure', 'fantasy', 'sciencefiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'samworthington', 'zoesaldana', 'sigourneyweaver', 'jamescameron']"

In [ ]:
import nltk

In [ ]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
    L = []
    for i in text.split():
        L.append(ps.stem(i))
    return ' '.join(L)

In [ ]:
new_movies['tags'][0]

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'action', 'adventure', 'fantasy', 'sciencefiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'samworthington', 'zoesaldana', 'sigourneyweaver', 'jamescameron']"

In [ ]:
new_movies['tags'].apply(stem)

0       ['in', 'the', '22nd', 'century,', 'a', 'parapl...
1       ['captain', 'barbossa,', 'long', 'believed', '...
2       ['a', 'cryptic', 'message', 'from', 'bond’s', ...
3       ['following', 'the', 'death', 'of', 'district'...
4       ['john', 'carter', 'is', 'a', 'war-weary,', 'f...
                              ...
4804    ['el', 'mariachi', 'just', 'wants', 'to', 'pla...
4805    ['a', 'newlywed', "couple's", 'honeymoon', 'is...
4806    ['"signed,', 'sealed,', 'delivered"', 'introdu...
4807    ['when', 'ambitious', 'new', 'york', 'attorney...
4808    ['ever', 'since', 'the', 'second', 'grade', 'w...
Name: tags, Length: 4809, dtype: object

In [ ]:
new_movies['tags'][0]

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.', 'action', 'adventure', 'fantasy', 'sciencefiction', 'cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d', 'samworthington', 'zoesaldana', 'sigourneyweaver', 'jamescameron']"

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=4000, stop_words='english')
cv.fit_transform(new_movies['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
profiles = cv.fit_transform(new_movies['tags']).toarray()

In [ ]:
profiles.shape

(4809, 4000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(profiles)

In [ ]:
similarity[0]

array([1.        , 0.09393364, 0.06262243, ..., 0.02615329, 0.0285831 ,
       0.        ])

In [ ]:
def recommend(movie):
    index = np.where(new_movies['title'] == movie)[0][0]
    similar_movies = sorted(enumerate(similarity[index]), key=lambda x: x[1], reverse=True)[1:4]

    for i in similar_movies:
        print(new_movies['title'][i[0]])

In [ ]:
recommend('Gladiator')

Hercules
Return of the Jedi
Abandoned

In [ ]:
recommend('Aliens')

Alien
Alien³
Alien: Resurrection

# **Content-Based Recommendations**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import ast
from nltk.stem import PorterStemmer

movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

movies = movies.merge(credits, on='title', how='inner')
movies = movies[['movie_id', 'title', 'keywords', 'overview', 'genres', 'cast', 'crew']]

def get_list_from_json(column):
    def parse_json(x):
        try:
            return [i['name'] for i in ast.literal_eval(x)]
        except:
            return []
    return movies[column].apply(parse_json)

def get_top_3_cast(x):
    try:
        return [i['name'] for i in ast.literal_eval(x)[:3]]
    except:
        return []

def get_director(x):
    try:
        for i in ast.literal_eval(x):
            if i['job'] == 'Director':
                return [i['name']]
        return []
    except:
        return []

movies['genres'] = get_list_from_json('genres')
movies['keywords'] = get_list_from_json('keywords')
movies['cast'] = movies['cast'].apply(get_top_3_cast)
movies['crew'] = movies['crew'].apply(get_director)

movies['overview'] = movies['overview'].apply(lambda x: str(x).split())

for column in ['genres', 'keywords', 'cast', 'crew']:
    movies[column] = movies[column].apply(lambda x: [i.replace(' ', '').lower() for i in x])

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
new_movies = movies[['movie_id', 'title', 'tags']]
new_movies['tags'] = new_movies['tags'].apply(lambda x: ' '.join(x).lower())

ps = PorterStemmer()
new_movies.loc[:, 'tags'] = new_movies['tags'].apply(lambda x: ' '.join([ps.stem(word) for word in x.split()]))

cv = CountVectorizer(max_features=4000, stop_words='english')
profiles = cv.fit_transform(new_movies['tags']).toarray()

similarity = cosine_similarity(profiles)

def recommend_content_based(movie):
    index = np.where(new_movies['title'] == movie)[0][0]
    similar_movies = sorted(enumerate(similarity[index]), key=lambda x: x[1], reverse=True)[1:4]
    recommended_movies = [new_movies['title'][i[0]] for i in similar_movies]
    return recommended_movies

print("\nContent-Based Recommendations for 'Gladiator':\n")
print(recommend_content_based('Gladiator'))

print("\nContent-Based Recommendations for 'Aliens':\n")
print(recommend_content_based('Aliens'))

C:\Users\sg\AppData\Local\Temp\ipykernel_5576\3719549035.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x: ' '.join(x).lower())

Content-Based Recommendations for 'Gladiator':

['1982', 'A Christmas Carol', 'Highlander']

Content-Based Recommendations for 'Aliens':

['Alien', 'Alien³', 'Star Trek: Insurrection']

# **Collaborative Filtering**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

interaction_data = {
    'user_id': [1, 1, 1, 2, 2, 3, 3, 4, 4, 4],
    'movie_id': [1, 2, 3, 1, 4, 2, 3, 1, 3, 4]
}

interactions = pd.DataFrame(interaction_data)

user_movie_matrix = interactions.pivot_table(index='user_id', columns='movie_id', aggfunc='size', fill_value=0)

user_similarity = cosine_similarity(user_movie_matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=user_movie_matrix.index, columns=user_movie_matrix.index)

def recommend_collaborative(user_id, num_recommendations=5):
    sim_scores = user_similarity_df[user_id]
    user_interactions = user_movie_matrix.loc[user_id]

    print("User Interactions:")
    print(user_interactions)

    weighted_sum = user_movie_matrix.T.dot(sim_scores)

    print("Weighted Sum:")
    print(weighted_sum)

    sim_sum = sim_scores[user_movie_matrix.notna().sum(axis=1)]
    sim_sum[sim_sum == 0] = 1e-9

    print("Similarity Sum:")
    print(sim_sum)

    pred_scores = weighted_sum / sim_sum

    print("Predicted Scores:")
    print(pred_scores)

    pred_scores = pred_scores.drop(user_interactions.index, errors='ignore')

    print("Predicted Scores after excluding interactions:")
    print(pred_scores)

    top_movies = pred_scores.nlargest(num_recommendations)
    movie_indices = top_movies.index
    recommended_movies = movies[movies['movie_id'].isin(movie_indices)]['title'].values

    return recommended_movies

movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = movies.merge(credits, on='title', how='inner')
movies = movies[['movie_id', 'title', 'keywords', 'overview', 'genres', 'cast', 'crew']]

print("Sample of loaded movies dataframe:")
print(movies.head())

print("Collaborative Filtering Recommendations for User 1:")
print(recommend_collaborative(1))

print("Collaborative Filtering Recommendations for User 2:")
print(recommend_collaborative(2))

print("Collaborative Filtering Recommendations for User 3:")
print(recommend_collaborative(3))

print("Collaborative Filtering Recommendations for User 4:")
print(recommend_collaborative(4))

Sample of loaded movies dataframe:
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                            keywords  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...
4  [{"id": 818, "name": "based on novel"}, {"id":...

                                            overview  \
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bond’s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

                                              genres  \
0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
Collaborative Filtering Recommendations for User 1:
User Interactions:
movie_id
1    1
2    1
3    1
4    0
Name: 1, dtype: int64
Weighted Sum:
movie_id
1    2.074915
2    1.816497
3    2.483163
4    1.074915
dtype: float64
Similarity Sum:
user_id
4    0.666667
4    0.666667
4    0.666667
4    0.666667
Name: 1, dtype: float64
Predicted Scores:
1         NaN
2         NaN
3         NaN
4    1.612372
4    1.612372
4    1.612372
4    1.612372
dtype: float64
Predicted Scores after excluding interactions:
Series([], dtype: float64)
[]
Collaborative Filtering Recommendations for User 2:
User Interactions:
movie_id
1    1
2    0
3    0
4    1
Name: 2, dtype: int64
Weighted Sum:
movie_id
1    2.224745
2    0.408248
3    1.224745
4    1.816497
dtype: float64
Similarity Sum:
user_id
4    0.816497
4    0.816497
4    0.816497
4    0.816497
Name: 2, dtype: float64
Predicted Scores:
1         NaN
2         NaN
3         NaN
4    2.224745
4    2.224745
4    2.224745
4    2.224745
dtype: float64
Predicted Scores after excluding interactions:
Series([], dtype: float64)
[]
Collaborative Filtering Recommendations for User 3:
User Interactions:
movie_id
1    0
2    1
3    1
4    0
Name: 3, dtype: int64
Weighted Sum:
movie_id
1    1.224745
2    1.816497
3    2.224745
4    0.408248
dtype: float64
Similarity Sum:
user_id
4    0.408248
4    0.408248
4    0.408248
4    0.408248
Name: 3, dtype: float64
Predicted Scores:
1    NaN
2    NaN
3    NaN
4    1.0
4    1.0
4    1.0
4    1.0
dtype: float64
Predicted Scores after excluding interactions:
Series([], dtype: float64)
[]
Collaborative Filtering Recommendations for User 4:
User Interactions:
movie_id
1    1
2    0
3    1
4    1
Name: 4, dtype: int64
Weighted Sum:
movie_id
1    2.483163
2    1.074915
3    2.074915
4    1.816497
dtype: float64
Similarity Sum:
user_id
4    1.0
4    1.0
4    1.0
4    1.0
Name: 4, dtype: float64
Predicted Scores:
1         NaN
2         NaN
3         NaN
4    1.816497
4    1.816497
4    1.816497
4    1.816497
dtype: float64
Predicted Scores after excluding interactions:
Series([], dtype: float64)
[]